        3_Data_Preprocessing/preprocessing_data/baseline_test_engineered.csv
        3_Data_Preprocessing/preprocessing_data/baseline_train_engineered.csv
        3_Data_Preprocessing/preprocessing_data/train_data_final_feat_no_preprocessing.csv
        3_Data_Preprocessing/preprocessing_data/y_test_rf.csv
        3_Data_Preprocessing/preprocessing_data/y_train_rf.csv
*.npz
*.joblib
*.pkl

y_*_rf.csv# Jupyter
.ipynb_checkpoints/

__pycache__/
*.pyc
.env

data_persons_ca_1yr/
.DS_Store

venv/
3_Data_Preprocessing/preprocessing_data/train_engineered.csv
3_Data_Preprocessing/preprocessing_data/test_engineered.csv
3_Data_Preprocessing/preprocessing_data/ft_train_binary.parquet
3_Data_Preprocessing/preprocessing_data/ft_train_4class.parquet
3_Data_Preprocessing/preprocessing_data/ft_test.parquet
