*.npz
*.joblib
*.pkl

y_*_rf.csv# Jupyter
.ipynb_checkpoints/

__pycache__/
*.pyc
.env

data_persons_ca_1yr/
.DS_Store

venv/
3_Data_Preprocessing/preprocessing_data/train_engineered.csv
3_Data_Preprocessing/preprocessing_data/test_engineered.csv
3_Data_Preprocessing/preprocessing_data/ft_train_binary.parquet
3_Data_Preprocessing/preprocessing_data/ft_train_4class.parquet
3_Data_Preprocessing/preprocessing_data/ft_test.parquet
